// elfriede home page styles

// base
@import "base/color";
@import "base/fontstyle";
@import "base/grid";
 
// partial
@import "partial/home/homeBanner"; 
@import "partial/home/explore"; 
@import "partial/home/portfolio"; 
@import "partial/home/blog"; 
@import "partial/home/workprocess"; 
@import "partial/home/testimonials"; 
.contact-details-titlebox{
    .contact-title{
        color: $primaryColor;
        span{
            span{
        color: $primaryColor;
            }
        }
    }
    .contact-details{
        color: $primaryColor;
    }

}
.contact-detais-item{
    .details-text-box{
        .details-text{
            @include media-breakpoint-up(md) {
            &:nth-child(2){
                color: $mainGreen !important;
            }
        }
        }
    }
}