// elfriede single post page styles

// base
@import 'base/color';
@import 'base/fontstyle';
@import 'base/grid';

// partial

// styles css

// elfriede single post banner style css
.elf-single-post-section {
  position: relative;
  width: 100%;
  height: 100%;
  background: $white;
  .elf-single-post-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    @include media-breakpoint-up(md) {
      .elf-container {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
    .elf-main-contant {
      padding-top: 256px;
      padding-bottom: 81px;
      @include media-breakpoint-up(md) {
        padding-top: 227px;
        padding-bottom: 100px;
      }
      @include media-breakpoint-up(sm) {
        padding-top: 169px;
        padding-bottom: 20px;
      }
      .subtitle{
        @include media-breakpoint-up(md) {
          font-weight: 400;
      }
    }
      .elf-banner-subtitle {
        width: 100%;
        max-width: 1093px;
        color: $primaryColor;
        @include media-breakpoint-up(md) {
          margin-bottom: 38px !important;
          max-width: 450px;
          letter-spacing: -1.25px;
          font-weight: 500;
         font-size: 60px;
         span{
          span{
            font-size: 60px;
          }
         }
        }
        @include media-breakpoint-up(sm) {
          max-width: 290px;
          line-height: 1;
        }
      }
      .elf-current-post-tags {
        gap: 19px;
        .elf-tags-item {
          font-family: $secondaryFont;
          font-size: 13px;
          font-weight: 400;
          line-height: 16px;
          letter-spacing: 0.4000000059604645px;
          text-align: center;
          color: $black;
        }
      }
      .elf-blogs-img-box {
        @include media-breakpoint-up(md) {
          .elf-container {
            padding-left: 0;
            padding-right: 0;
          }
          .elf-current-post-tags {
            padding-left: 30px;
          }
        }
      }
      .elf-single-post-image {
        @include media-breakpoint-up(md) {
          width: 100%;
          height: 459px;
        }
      }
    }
  }
}
.elf-singlepost-wrap-cont {
  display: grid;
  grid-template-areas:
    'LeftAlign RightAlign'
    'NextPostAlign NextPostAlign';
  gap: 93px;

  @include media-breakpoint-up(md) {
    grid-template-areas:
      'LeftAlign'
      'NextPostAlign'
      'RightAlign';
    gap: 0;
  }
  @include media-breakpoint-up(md) {
    margin-bottom: 51px !important;
  }
  @include media-breakpoint-up(sm) {
    margin-bottom: 149px !important;
  }
  .elf-post-left-wrap {
    @include media-breakpoint-up(md) {
      margin-bottom: 69px;
    }
    @include media-breakpoint-up(sm) {
      margin-bottom: 59px;
    }
    &:nth-child(1) {
      grid-area: LeftAlign;
    }
  }
  .elf-post-right-wrap {
    &:nth-child(2) {
      grid-area: RightAlign;
    }
  }
  .elf-next-blogs-section {
    &:nth-child(3) {
      grid-area: NextPostAlign;
    }
  }
  .elf-post-right-wrap {
    max-width: 378px;
    width: 100%;
    .elf-post-tags-box {
      margin-bottom: 60px;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
      position: relative;
      .elf-post-tags-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5px;
        row-gap: 5px;
        @include media-breakpoint-up(md) {
          padding-right: 30px;
        }
        li {
          display: block;
          background-color: $lightGray;
          padding: 18px 14px;
          cursor: pointer;
          transition: all 150ms ease 0s;
          a {
            font-family: $secondaryFont;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            color: $black;
            transition: all 150ms ease 0s;
            @include media-breakpoint-up(md) {
             font-size: 16px;
            }
          }
          &:hover{
            background: $mainGreen;
            a{
              color: $white;
            }
          }
        }
      }

      .elf-posted-titlebox {
        width: 265px;
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        height: 137px;
        position: relative;
        display: flex;
        align-items: end;
        justify-content: end;
        transform: rotate(-90deg);
        position: absolute;
        right: -64px;
        bottom: 35px;
        @include media-breakpoint-up(md)  {
          bottom: 212px;
        }
        @include media-breakpoint-up(sm)  {
          bottom: 40px;
        }
      }

      .elf-posted-titlebox .subtitle {
        padding: 3px 20px 3px 23px;
        background: #282c35;
        color: #fff;
        letter-spacing: 0.15px;
        height: 35px;
      }
    }
    @include media-breakpoint-up(md) {
      max-width: 100%;
      display: grid;
      grid-template-areas: 'suggestedArea tagsArea';
      gap: 70px;
      .elf-post-tags-box {
        grid-area: tagsArea;
      }
      .elf-suggested-blogs-box {
        grid-area: suggestedArea;
      }
    }
    @include media-breakpoint-up(sm) {
      display: block;
      .elf-post-tags-box {
       margin-bottom: 60px;
      }
    }
  }
}
.elf-suggested-blogs-box {
  margin-top: 30px;
  position: relative;
  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
  .elf-blogs-items-wrap {
    padding-top: 30px;
    padding-right: 60px;
    .elf-suggested-blogs-item {
      &:not(:last-child) {
        padding-bottom: 22px;
        border-bottom: 1px solid $black;
      }
      &:not(:first-child) {
        padding-top: 22px;
      }

      .blog-tags-list {
        gap: 27px;
        li {
          font-family: $secondaryFont;
          font-size: 8px;
          font-weight: 400;
          line-height: 10px;
          letter-spacing: 1.5px;
          text-align: left;

          &:nth-child(2) {
            list-style-type: disc !important;
          }
        }
      }
      .elf-sugs-title{cursor: pointer;}
    }
  }
  .elf-posted-titlebox {
    width: 480px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 137px;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: end;
    transform: rotate(-90deg);
    position: absolute;
    right: -174px;
    bottom: 170px;
    @include media-breakpoint-up(md) {
      width: 410px;
      right: -139px;
      bottom: 140px;
    }
    .subtitle {
      padding: 3px 20px 3px 23px;
      background: #282c35;
      color: #fff;
      letter-spacing: 0.15px;
      height: 35px;
      cursor: pointer;
    }
  }
}
.elf-next-blogs-section {
  position: relative;
  @include media-breakpoint-up(md) {
    margin-bottom: 59px !important;
  }
  @include media-breakpoint-up(sm) {
    margin-bottom: 70px !important;
  }
  .elf-next-blogs-wrap {
    padding: 100px 82px 106px;
    z-index: 9;
    position: relative;
       &::before{
        content: "";
        width: 100%;
        height: 100%;
        right: 0;
        position: absolute;
        top: 0;
        background: $lightGray;
        z-index: -1;
        transition: all 350ms ease-in 0s;
       }

    @include media-breakpoint-up(md) {
      padding: 96px 118px 97px 53px;
    }
    @include media-breakpoint-up(md) {
      padding: 60px 35px 80px 37px;
    }
    .elf-next-blog-title {
      max-width: 1013px;
      width: 100%;
      color: transparent;
      font-family: $secondaryFont;
      letter-spacing: 5px;
      text-transform: capitalize;
      -webkit-text-stroke: 1px $primaryColor;
      transition: all 650ms ease-in 0s;
      outline: 0;
    @include media-breakpoint-up(md) {
      font-weight: 400;
    }
    }
    .subtitle{
      font-family: $secondaryFont;
    }
    &:hover{
      &::before{
        width: 0%;
       }
       .elf-next-blog-title {
        color: $primaryColor;
      }
     }
  }
}
