// Bese style
@import "base/besedstyled";
@import "base/defoult";
@import "base/fontstyle";
@import "base/color";
@import "base/inheritence";
@import "base/utility";
@import "base/animatestyled";
@import "base/grid";

// Golobal styles 
@import "globals/container";
@import "globals/buttons";
@import "globals/headlines";
@import "globals/images";

// // Partial style 
@import "partial/preloader";
@import "partial/header"; 
@import "partial/contact"; 
@import "partial/clientslides"; 
@import "partial/contactAct"; 
@import "partial/pagination";  
@import "partial/footer";  


/* ------------------------------------------------------------------------------
  1.  Global
      1.1 Reset styles
      1.2 Fonts
      1.3 General
  2.  Header
  3.  Main
      3.1 Home page
      3.2 Blog page

-------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------
  1. Global
-------------------------------------------------------------------------------*/

.elf-int-scroll:not(.elf-mobile) #elf-scrollbar, .sidebar-single, .elf-work-scrollbar {
  overflow: hidden;
  height: 100vh;
}

.elf-int-scroll:not(.elf-mobile) #elf-scrollbar .scrollbar-track, .sidebar-single .scrollbar-track, .elf-work-scrollbar .scrollbar-track {
  background: none;
  width: 5px;
}

.elf-int-scroll:not(.elf-mobile) #elf-scrollbar .scrollbar-track .scrollbar-thumb, .sidebar-single .scrollbar-track .scrollbar-thumb, .elf-work-scrollbar .scrollbar-track .scrollbar-thumb {
  background: #424242;
  width: 5px;
}

.admin-bar.elf-int-scroll:not(.elf-mobile) #elf-scrollbar, .sidebar-single, .elf-work-scrollbar {
  height: calc(100vh - 46px);
}

@media screen and (min-width: 783px) {
  .admin-bar.elf-int-scroll:not(.elf-mobile) #elf-scrollbar, .sidebar-single, .elf-work-scrollbar {
    height: calc(100vh - 32px);
  }
}

.locked-scroll #elf-scrollbar {
  background-color: #000;
}
.main-scroll-wrapper{
  position: relative;
  z-index: 99;
}
.elf-banner-title{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

// slick dots styles css
.slick-dots{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -30px;
  margin-top: 45px;
  gap: 20px;
  li{
    button{
      text-indent: -1000px !important;
      width: 20px;
      height: 20px;
      overflow: hidden;
      border-radius: 50px;
      box-shadow: none;
      outline: 0;
      border: 0;
      background-color: $white;
    }
    &.slick-active{
      button{
        background: $primaryColor;
      }
    }
   }
}
