.elf-explore-section{
    @include media-breakpoint-up(md) {
        padding-top: 48px;
    }
    @include media-breakpoint-up(sm) {
        padding-top: 74px;
        padding-bottom: 74px;
    }
}
.elf-explore--wrapper{
    max-width: 1533px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include media-breakpoint-up(md) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @include media-breakpoint-up(sm) {
        padding-left: 30px;
        padding-right: 30px;
    }
    .elf-explore-img{
        height: 738px;
      .elf-explore--img-item{
        width: 100%;
        height: 100%;
      }
    }
}

.elf-explore--content{
       padding-left: 40px;
       @include media-breakpoint-up(md) {padding-left: 0px;}
    .elf-explore--title{
        margin-bottom: 34px;
        max-width: 738px;
        width: 100%;
        @include media-breakpoint-up(md){
          color: $primaryColor;
          span {
            span{
          color: $primaryColor;
            }
          }
        }
    }
   .elf-explore-desc{
        margin-bottom: 33px;
        max-width: 733px;
        width: 100%;
    @include media-breakpoint-up(md) {
      margin-bottom: 13px;
      color: $primaryColor;
      span {
        span{
      color: $primaryColor;
    }
  }
    }
  }
    .elf-explore--img {
        position: absolute;
        left: 0;
        top: 0;

  .elf-explore--img-item{
        width: 100%;
        height: 100%;
      }

    @include media-breakpoint-up(md) {
        height: 379px; 
        position: relative;
      .elf-explore--img-item{
        width: 100%;
        height: 100%;
      }
    }
    @include media-breakpoint-up(sm) {
        height: 484px;
      .elf-explore--img-item{
        width: 100%;
        height: 100%;
      }
    }
    }
    .elf-listbox-widget{
    @include media-breakpoint-up(md) {padding-left: 45px;margin-top: 53px;}
    @include media-breakpoint-up(sm) {padding-left: 0px;margin-top: 56px;}
        
      li{
        display: flex;
        gap: 6px;
        align-items: center;
        margin-bottom: 22px;
        span{
          color: $primaryColor;
        }
        &:last-child{
            margin-bottom: 0;
        }
      }
    }
    .elf-explore-button{
        text-align: center;
        margin-top: 32px;
        &:empty{display: none;}
        .elf-primary-button{
            max-width: 159px;
            width: 100%;
        }
    @include media-breakpoint-up(md) {
        margin-top: 0;
        width: 100%;
        display: flex;
        justify-content: center;}

    }
}
.elf-explore--img-item-box{
  @media screen and  (max-width:1440px) and (min-width:1281px) {
      width: 100%;
      max-width: 480px;
  }
  @media screen and  (max-width:1280px) and (min-width:1200px) {
    max-width: 440px;
}
@media screen and  (max-width:1199px) and (min-width:992px) {
  max-width: 394px;
}
      }
    