a{
    &.elf-primary-button,
    &.elf-secondary-button{
        width: 100%;
        padding: 12px 20px 12px 27px; 
        text-align: center;  
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        border-radius: 49px;
        font-family: $secondaryFont;
        font-style: $fontNormal;
        font-weight: $fontMedium; 
        font-size: $font-size-15;
         line-height: 120%;
         letter-spacing: 1.25px;
         color: $mainGreen;
     } 
     &.elf-secondary-button{
        border: 1px solid $mainGreen;
        background-color: $grayColor; 
     }
     &.elf-primary-button{
        color: $primaryColor;
        border: 1px solid $primaryColor;
        background: transparent;
   }
}

