// colors
$white: #FFFFFF;
$black: #000000;
$lightGray:#F7F7F7;
$primaryColor: #282C35;
$SecondaryColor: #242020;
$grayColor: #F6F6F6;
$extra-gray: #f9f9f9;
$extra-gray1: #e9e9e9;
$gray-alt:  #EEEEEE;
$mainGreen: #134302;