// elfriede banner style css
.elf-main-visual-section {
    position: relative;
    width: 100%;
      height: 100%;
      background: $white;
      .elf-main-visual-wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        .elf-main-contant {
            padding-top: 170px;
          padding-bottom: 0px;
    @include media-breakpoint-up(md) {
      padding-top: 227px;
    }
    @include media-breakpoint-up(md) {
      padding-top: 169px;
    }
          .elf-banner-title {
            width: 100%;
            max-width: 1093px;
            @include media-breakpoint-up(md) {
              max-width: 612px;
            }
          }
     .elf-subtitle{
        max-width: 942px;
        width: 100%;
        letter-spacing: .5px;
     }
        }
      }
    }
  