.elfriede-slides-item {
	display: flex;
	gap: 25px;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
    @include media-breakpoint-up(md) {
       .elfriede-slides-item{
		.elfriede-slides-imglist{
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	   }
	}
}
@include media-breakpoint-up(md) {
.elfriede-about-slide-section {
	padding-top: 63px !important;
	padding-bottom: 76px !important;
}
.elfriede-about-textcont{
	margin-top: 80px !important;
}
}
@include media-breakpoint-up(sm) {
	.elfriede-about-slide-section {
		padding-bottom: 33px !important;
	}
	.elfriede-about-textcont{
		margin-top: 65px !important;
	}
	}