.elfriede-accordion-item {
  position: relative;
  border-top: 1px solid $black;
  &:last-child {
    border-bottom: 1px solid $black;
  }
  padding: 27px 32px 28px;
  .elfriede-accotdion-question {
    cursor: pointer;
    .elfriede-question-title {
      font-family: $primaryFont;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0.15000000596046448px;
      text-align: left;
      color: $black;
      @include media-breakpoint-up(md) {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
      }
    }
  }
}
.elfriede-faq-contantbox {
  display: grid;
  grid-template-columns: 391px 1fr;
  gap: 80px;
  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@include media-breakpoint-up(md) {
  .elfriede-faq-section {
    padding-top: 76px !important;
    padding-bottom: 76px !important;
    .elfriede-faq-title {
      margin-bottom: 26px !important;
    }
    .elfriede-faq-left-wrap {
      margin-bottom: 62px;
    }
  }
}
@include media-breakpoint-up(sm) {
  .elfriede-faq-section {
    padding-bottom: 40px !important;
    .elfriede-faq-left-wrap {
      margin-bottom: 100px;
    }
  }
}
