.elfriede-blogs-itembox{
    .blogs-image{
        width: 100%;
        margin-bottom: 36px;
    }
    .elfriede-blogs-title{
        font-weight: 500;
        margin-bottom: 22px;
    }
    .elfriede-blogs-desc{
        margin-bottom: 22px;
    }
    .elfriede-primary-button{
        max-width: 180px;
        width: 100%;
    }
}
@include media-breakpoint-up(md) {
.elfriede-blogs-wrapper{
    padding-top: 47px !important;
    padding-bottom: 84px !important;
    .elfriede-blogs-itembox:not(:last-child){
        margin-bottom: 120px;
    }
    .elfriede-blogs-itembox:last-child{
        margin-bottom: 0px;
    }
    .blogs-image{
       height: 349px;
    }
}
}
@include media-breakpoint-up(md) {
    .elfriede-blogs-wrapper{
        padding-top: 38px !important;
        padding-bottom: 125px !important;
        .elfriede-blogs-itembox:not(:last-child){
            margin-bottom: 150px;
        }
        .elfriede-blogs-itembox:last-child{
            margin-bottom: 0px;
        }
        .blogs-image{
           height: 589px;
           object-fit: cover;
        }
    }
    }