.elfriede-client-section{
    position: relative;
    padding: 234px 0 160px;
  @include media-breakpoint-up(md) {
    padding: 164px 0 109px;
  }
  @include media-breakpoint-up(md) {
    padding: 83px 0 94px;
  }
    .elfriede-client-slider-box{
        margin-bottom: 95px;
  @include media-breakpoint-up(md) {
    margin-bottom: 52px;
  }
  @include media-breakpoint-up(sm) {
    margin-bottom: 35px;
  }
        .elfriede-client-slides-box{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            gap: 93px;
  @include media-breakpoint-up(md) {
    gap: 66px;
    .elfriede-client-slide-items{
        img{
            width: 204px;
        }
    }
  }
        }
       
    }
}