.elfriede-contact-act-section{
    position: relative;
  // @include media-breakpoint-up(md) {

  // }
    .elfriede-act-contant-box{
        .elfriede-act-modal-img{
            width: 100%;
            height: 742px;
  @include media-breakpoint-up(sm) {
    object-fit: cover;
  }
        }
        .elfriede-act-form-box{
            max-width: 620px;
            width: 100%;
            padding: 54px 99px 114px 91px;
            background: $lightGray;
            box-shadow: 96px -233px 101px rgba(64, 64, 64, 0.01), 54px -131px 85px rgba(64, 64, 64, 0.03), 24px -58px 63px rgba(64, 64, 64, 0.05), 6px -15px 35px rgba(64, 64, 64, 0.06), 0px 0px 0px rgba(64, 64, 64, 0.06);
            position: absolute;
            top: 120px;
            right: 96px;
            z-index: 9;
  @include media-breakpoint-up(md) {
    top: 95px;
    right: 0px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 29px !important;
  }
  @include media-breakpoint-up(sm) {
    right: 18px;
    left: 13px;
    padding: 63px 20px 29px;
    width: calc(100% - 31px);
  }
            
        }
    }
    .elfriede-act-brand-slidesbox{
        position: relative;
        .elfriede-client-section{
            padding-top: 80px;
            padding-bottom: 198px;
  @include media-breakpoint-up(md) {
    padding-top: 222px;
    padding-bottom: 116px;
  }
  @include media-breakpoint-up(sm) {
    padding-bottom: 73px;
  }

            .elfriede-client-slider-box {
                margin-bottom: 0px;
                .elfriede-client-slides-box{
                    position: relative;
                    right: 700px;
                }

            }
            .elfriede-gaving-text{
                margin-top: 50px;
            }
        }

    }
}