.elfriede-location-wrapper{
    display: grid;
    grid-template-columns: 1fr 561px;
    gap: 0;
  @include media-breakpoint-up(md) {
    grid-template-columns: 1fr;
    .elfriede-location-map{
        width: 100%;
        img{
            width: 100%;
            height: 457px;
            object-fit: cover;
        }
    }
  }
    .elfriede-location-details-box{
        .location-details-box{
            &.details-box-one{
                background: $grayColor;
            }
            .details-title{
                margin-bottom: 13px;
            }
            .sub-point{
               &:not(:last-child){
                margin-bottom: 11px;
               }
            }
            padding: 44px 0 37px 80px;
  @include media-breakpoint-up(md) {
    padding: 49px 0 49px 30px;

  }
        }
        @include media-breakpoint-up(md) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 0;
          }
          @include media-breakpoint-up(sm) {
            grid-template-columns: 1fr;
            }
    }
}
.elfriede-location-section{
  @include media-breakpoint-up(md) {
    padding-top: 85px !important;
    padding-bottom: 60px !important;
  }
  @include media-breakpoint-up(sm) {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }
}