.elfriede-portfolio--section{
    position: relative;
    @include media-breakpoint-up(md) {
        padding-top: 95px !important;
        padding-bottom: 68px !important;
    }
    @include media-breakpoint-up(sm) {
        padding-top: 42px !important;
        padding-bottom: 100px !important;
    }
    .elfriede-gallery-wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 75px;
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
         grid-row-gap: 67px;
         grid-column-gap: 23px;
    }
    @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr;
         grid-row-gap: 65px;
    }
    .elfriede-gallery-img{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    }
}