
.elfriede-preloader-screen {
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0 0;
    background: #fff;
  }
  .elfriede-loader-mainpoint {
      position: absolute;
      bottom: -43px;
      left: -2px;
      display: flex;
      align-items: center;
      flex-direction: row;

    .elfriede-loader-parcent {
        font-size: 180px;
        line-height: 216px;
        letter-spacing: -1.5px;
        font-weight: 500;
        margin-bottom: 0;
        color: #282C35;
      }
      .elfriede-loader-barbox{
        width: 561px;
        .elfriede-loader-bar {
            width: 0%;
            max-width: 561px;
            height: 6px;
            background: #282C35;
            margin-left: 25px;
          } 
    }
      
  }

 