.elfriede-shope-product-section {
  .elfriede-shope-wrapper-box {
    display: grid;
    grid-template-columns: 391px 1fr;
    gap: 80px;
    align-items: baseline;
    @include media-breakpoint-up(md) {
     display: block;
     .elfriede-shope-left-wrap{margin-bottom: 50px;}
    }
    .elfriede-shope-right-wrap {
      .elfriede-shope-products-cont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 80px;
        row-gap: 55px;
        @include media-breakpoint-up(md) {
          grid-column-gap: 33px;
          grid-row-gap: 45px;
          padding-bottom: 77px !important;
          &:nth-child(2){
          padding-bottom: 163px !important;
          }
        }
        @include media-breakpoint-up(sm) {
          grid-row-gap: 77px;
          grid-column-gap: 0px;
          grid-template-columns: 1fr;
        }
        .elfriede-shope-products {
          .elfriede-product-image {
            width: 100%;
            height: 447px;
            object-fit: cover;
          }
        }
      }
    }
  }
}
