// elfriede shope banner style css
.elfriede-main-visual-section {
  position: relative;
  width: 100%;
  height: 100%;
  background: $white;
  .elfriede-main-visual-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    .elfriede-main-contant {
      padding-top: 130px;
      padding-bottom: 0px;
      @include media-breakpoint-up(md) {
        padding-top: 227px;
      }
      @include media-breakpoint-up(sm) {
        padding-top: 169px;
      }
      .elfriede-banner-title {
        width: 100%;
        max-width: 1093px;
      }
    }
  }
}
