// elfriede banner style css
.elfriede-main-visual-section {
    position: relative;
    height: 658px;
    width: 100%;
    @include media-breakpoint-up(md) {
      height: 808px;
    }
    @include media-breakpoint-up(sm) {
      height: 643px;
    }
    background-image: url('/assets/image/home-banner-img.png');
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    .elfriede-container {
      height: 100%;
      .elfriede-main-visual-wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
        .elfriede-main-contant {
          padding-bottom: 181px;
    @include media-breakpoint-up(md) {
      padding-bottom: 100px;
    }
    @include media-breakpoint-up(sm) {
      padding-bottom: 72px;
    }
          .elfriede-banner-title {
            max-width: 1073px;
            width: 100%;
          }
          
   
        }
      }
    }
  }