// elfriede banner style css
.elfriede-main-visual-section {
    position: relative;
    padding-bottom: 66px;
    width: 100%;
      height: 100%;
      background: $white;
      .elfriede-main-visual-wrap {
        display: flex;
       justify-content: space-between;
       align-items: flex-end;
        height: 100%;
        .elfriede-main-contant {
            padding-top: 170px;
          .elfriede-banner-subtitle {
            width: 100%;
            max-width: 1093px;
          }
        }
      }
    }
  